<title>Definition Success</title>
<body>
  <div class="container">
    <h1>Success!</h1>

    <p>Your definition for <strong>$word.getWord()</strong> has been saved in your dictionary, Thank you!
    </p>

    <a href="/words" class="button button1">go back</a>
    <a href="/words/$word.getId()" class="button button1">List of definitions</a>
  </div>
</body>
