<title>Dictionary Home page</title>
<body>
  <div class="container">
    <h1>Dictionary Creator</h1>

    <a href="/categories">View Word List</a>
    <a href="/categories/new">Add a New Word</a>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">Farnoosh Johnson Code Review2, Java class @
        <a href="http://www.epicodus.com/">epicodus</a>
      </p>
    </div>
  </footer>
</body>
