<title>Word Success</title>
<body>
  <div class="container">
    <h1>Success!</h1>

    <p>Your word <strong>$word.getWord()</strong> has been saved.</p>

    <a href="/words" class="button button1">go back</a>

  </div>
</body>
